SOME_SERVICE_TEST_KEY="testtesttest"
SOME_SERVICE_LIVE_KEY="livelivelive"

case "$*" in
	*://testserver.example.org* | *://TESTSERVER.EXAMPLE.ORG*)
		ARGS+=('-H')
		ARGS+=("Authorization: Bearer ${SOME_SERVICE_TEST_KEY}")
	;;
	*://liveserver.example.org* | *://LIVESERVER.EXAMPLE.ORG*)
		ARGS+=('-H')
		ARGS+=("Authorization: Bearer ${SOME_SERVICE_LIVE_KEY}")
	;;
esac


# Provide a more specific Accept header by default
if [[ ! " $@ " =~ "Accept: " ]]; then
	ARGS+=('-H')
	ARGS+=("Accept: application/xml, application/json, */*")
fi
